*

!.gitignore
!server/src/**
!server/pom.xml
!server/mvnw
!server/mvnw.cmd
!server/.mvn/**

!client/public/**
!client/src/**
!client/images.d.ts
!client/package.json
!client/package-lock.json
!client/tsconfig.json
!client/tsconfig.prod.json
!client/tsconfig.test.json
!client/tslint.json

!*/
